registry=https://registry.npmjs.org/

//registry.npmjs.org/:_authToken=${NPM_TOKEN}

@soujvnunes:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=${GH_TOKEN}

package-manager=pnpm@8.0.0
